---
layout: default
locale: en
key: lang-chooser
super: helper
---

{% assign locale = site.locales[page.locale] %}
{% assign i18n = locale.i18n %}

<h2>Helper</h2>

<ul class="side-nav">
  {% assign target = 'lang-chooser' %}{% include url-builder.html %}
  <li><a href="{{url_val}}">{{url_title}}</a></li>
  {% assign target = 'navigation' %}{% include url-builder.html %}
  <li><a href="{{url_val}}">{{url_title}}</a></li>
  {% assign target = 'url-builder' %}{% include url-builder.html %}
  <li><a href="{{url_val}}">{{url_title}}</a></li>
</ul>

<h3><a name="lang-selector"></a>Language-Selector <small>_includes/language-select.html</small></h3>

<h4>{{i18n['helper.desc']}}:</h4>
<p>{{i18n['helper.lang.desc.text']}}</p>

<h4>{{i18n['helper.usage']}}:</h4>
<div class="panel">
	<pre><code>&#123;% include language-select.html %}</code></pre>
</div>
<h4>{{i18n['helper.config']}}:</h4>

<span class="secondary label">_config.yml</span>
<div class="panel">
	<p>Hat keine spezielle Einstellungsmöglichkeiten</p>
</div>

<h4>{{i18n['helper.example']}}:</h4>
<div class="panel">
	{% include language-select.html %}
</div>

<hr/>
<div class="row">
	<div class="columns">
		<a href="#top">&#8593; nach oben</a>
	</div>
</div>